{% extends "base.html" %}
{% block global_navi %}
<div class="multi_wrap--flex_start_v100persent">
	<div class="wrapper__50percent">
		{% for table_number_list in table_number_list %}
		<div class="radio_button__table">
			<input type="checkbox" id="table_{{table_number_list}}" class="radio_button__checkbox" checked="">
    			<label for="table_{{table_number_list}}" class="radio_button__label">
      				<div id="sample2box"></div>
      			</label>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}