<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Ground Menu.com</title>
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/scss/style.css">
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js//jQuery UI - v1.11.3 - 2015-02-12.js"></script>
  <script src="../static/js/script.js"></script>
</head>

<body>
  <div class="background_color">
    <div class="back_box" >
    <div class="wrapper__header">
      <div class="header__menu three_line_menu">
        <!-- メニューの三本線に使う -->
      <span></span><span></span><span></span>
      </div>
      <a href="/" class="text__subtitle header__title">Ground Menu.com</a>
    </div>

<!-- サイドメニュー -->
    <ul class="wrapper__side">

      <li class="global_navi__1">
        <div class="global_navi__content--1">オーダーシステム</div>
        <div class="global_navi__1_opener icon_pulus">
          <span></span>
          <span></span>
        </div>
      </li>

      <ul class="global_navi__2">
        <li><a class="global_navi__content--2" href="/show_menu">メニュー表登録・修正</a></li>
        <li><a class="global_navi__content--2" href="#">QRコード発行</a></li>
        <li><a class="global_navi__content--2" href="/activate">テーブルアクティベート</a></li>
      </ul>

      <li class="global_navi__1">
        <div class="global_navi__content--1">設定</div>
        <div class="global_navi__1_opener icon_pulus">
          <span></span>
          <span></span>
        </div>
      </li>

      <ul class="global_navi__2">
        <li><a class="global_navi__content--2" href="/store_setting">店舗情報</a></li>
        <li><a class="global_navi__content--2" href="#">従業員情報</a></li>
      </ul>

      <a class="global-navi__logout" href="/logout">ログアウト</a>
    </ul>

<!-- メインメニュー -->
    <div class="wrapper__main">
    <div class="picture--base"></div>

  {% block global_navi %}{% endblock %}
    </div>
  </div>
</div>
</body>

</html>
