<!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js//jQuery UI - v1.11.3 - 2015-02-12.js"></script>
  <script src="../static/js/script.js"></script>
  <title>メニュー一覧</title>

</head>

<body> -->
{% extends "base.html" %}
{% block global_navi %}

<div class="sortable">
  {% for menu_info in menu_infos %}
  {% if menu_info[1] == "food" %}

 <div class="menu-list">
  <!-- menue_infoが、大分類、中分類、品名、値段になっているため、id,valueは、2を選択 -->
  <input type="checkbox" name="food_" id={{menu_info[3]}} value={{menu_info[3]}}>
  <label for={{menu_info[3]}}>{{menu_info[2]}} / {{menu_info[3]}} / {{menu_info[4]}}円</label>
 </div>
  {% endif %}
  {% endfor %}
</div>

  <div class="sortable">
  {% for menu_info in menu_infos %}
  {% if menu_info[1] == "drink" %}
 <div class="menu-box">
  <!-- menue_infoが、大分類、中分類、品名、値段になっているため、id,valueは、2を選択 -->
  <input type="checkbox" name="drink_" id={{menu_info[3]}} value={{menu_info[3]}}>
  <label for="{{menu_info[3]}}">{{menu_info[2]}} / {{menu_info[3]}} / {{menu_info[4]}}円</label>
 </div>
  {% endif %}
  {% endfor %}
</div>
  <br>
  <input type="hidden" id="result" name="result" />
  <button class="form-button" type="submit">
    <span>確定</span>
    <span>削除</span>
  </button>
  </form>

  <div class="content_box">
  <a href ="/create_menu">
    <button class="form-button">
      <span>戻る</span>
      <span>メニューへ</span>
    </button>
  </a>
  </div>
{% endblock %}

<!-- 
</body>
</html>
 -->