
<!doctype html>
<html lang="en">

<head>  <meta charset="UTF-8" />
  <title>Ground Menu.com</title>
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/scss/style.css">
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js//jQuery UI - v1.11.3 - 2015-02-12.js"></script>
  <script src="../static/js/script.js"></script>
  <title>GroundMenu.com Login</title>
</head>

<body>
  <div class="wrapper__header">
    <a href="" class="text__subtitle header__title">Ground Menu.com</a>
  </div>

<div class="multi_wrap--center_vhcenter">
<div class="multi_wrap--center">
<input type="radio" id="radio_button--login" class="radio_button" name="login_or_registration" value="login" checked="true">
  <label for="radio_button--login">ログイン</label>
<input type="radio" id="radio_button--registration" class="radio_button" name="login_or_registration" value="registration">
  <label for="radio_button--registration">登録</label>
</div>

  <form id="form_login" class="form_login" action="/login" method="post">
  <input class="form_text--small" type="email" name="e_mail" placeholder="ログインメールアドレス" required>

  <input class="form_text--small" type="password" name="password" placeholder="password" required>

  <button class="form_button" type="submit">
      <span>Login</span>
      <span>Login</span>
  </button>
  </form>

<form id="form_registration" class="form_registration" action="/create_account" method="post">
    <input class="form_text--small" type="email" name="e_mail" placeholder="登録用メールアドレス" required>
  <input class="form_text--small" type="password" name="password" placeholder="password" required>
    <button class="form_button" type="submit">
      <span>確定</span>
      <span>登録</span>
    </button>
  </form>
      <div class="picture__base"></div>
    </div>
</body>
</html>
