<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/reset.css">
  <title>アカウント登録</title>
</head>

<body>

  <div class="box">

  <form action="/" method="post">
  <div class="container_column">

  <div class="content_box">
  <input class=form type="email" name="e_mail" placeholder="e-mail" required>
  </div>

  <div class="content_box">
  <input class=form type="password" name="pass_word" placeholder="password" required>
  </div>

  <div class="content_box">
    <button class="button" type="submit">
      <span>確定</span>
      <span>登録</span>
    </button>
  </div>
  </div>

  </form>

 </div>



</body>
</html>
