{% extends "base.html" %}
{% block global_navi %}

<div class="single-column">
  	<form action="/create_menu" method="post">
    <input class="form-text" type="text" name="store_name" placeholder="お店の名前" required>
    <input class="form-text" type="text" name="address" placeholder="住所" required>
    <input class="form-text" type="text" name="name_of_representative" placeholder="代表者名" required>
    <input class="form-text" type="text" name="tel" placeholder="電話番号" required>
    <input class="form-text" type="text" name="mail_adress" placeholder="メールアドレス" required>
    <button class="form-button" type="submit">
      <span>確定</span>
      <span>登録</span>
    </button>
	</form>
</div>
{% endblock %}
