@charset "UTF-8";

/*====================
サイトの基本設定
====================*/

/*幅幅*/
$width-base: 100vw;
$width-main: 75vw;
$width-side: 25vw;

/*縦幅*/
$height-base: 100vh;

/*フォント関係*/
$font-base: "Yu gothic", sans-serif;
$font-serif: "Yu Mincho", serif;

/*テキストの大きさ*/
$text-title: 32px;
$text-subtitle: 28px;
$text-body: 16px;
$text-copyright: 12px;
$text-decoration: 6px;

/*色関係*/
$color-main: #FFA500;
$color-sub: #072A24;
$color-active: #111111;
$color-active2: #DC3B00;
$color-interaction: #B7282E;
$text-color-main: #ffffff;
$text-color-sub: #999999;

/*ブレイクポイント*/
$breakpoints:(
	sp:"screen and (max-width:599px)",
	pc:"screen and (min-width:600px)",
	);