/* 「_」抜きの名前でインポートできる
順番は
setting
mixin
block
の順とする*/

/*====================
settingのインポート
====================*/
@import "./setting/setting.scss";
@import "./setting/global.scss";

/*====================
mixinのインポート
====================*/
@import "./mixin/mixin.scss";
/*====================
blockのインポート
====================*/
// @import "./block/lightbox.scss";
// @import "./block/header.scss";
// @import "./block/base-picture.scss";
// @import "./block/welcome_text.scss";
// @import "./block/footer.scss";
@import "./block/form_text.scss";
// @import "./block/select-box.scss";
@import "./block/form_button.scss";
// @import "./block/menu-box.scss";
// @import "./block/delete.scss";
@import "./block/button.scss";
@import "./block/wrapper.scss";
@import "./block/header.scss";
@import "./block/text.scss";
@import "./block/picture.scss";
@import "./block/global_navi.scss";
@import "./block/icon_animation.scss";
@import "./block/vibration.scss";
@import "./block/radio_button.scss";
@import "./block/form.scss";
@import "./block/back_box.scss";
// @import "./block/vertical-text.scss";