@charset "UTF-8";
/* 「_」抜きの名前でインポートできる
順番は
setting
mixin
block
の順とする*/
/*====================
settingのインポート
====================*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
/*====================
サイトのglobal設定
====================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*リンクは基本白表示*/
a {
  color: #fff;
  text-decoration: none; }

ul {
  list-style: none; }

body {
  font-family: "Yu gothic", sans-serif; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select {
  outline: none;
  -o-text-overflow: '';
  text-overflow: '';
  /*テキストがオーバーフローした際に””で表示*/
  vertical-align: auto;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center; }

/*====================
mixinのインポート
====================*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
/*====================
blockのインポート
====================*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.lightbox {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*左右中央揃え*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*上下中央揃え*/
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(7, 42, 36, 0.3);
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

.lightbox__menu_box {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*左右中央揃え*/
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*上下中央揃え*/
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(7, 42, 36, 0.3);
  top: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

/*「_」抜きの名前でインポートする
 変数を定義しているsetting.scssのインポートは必須事項*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.array {
  display: none; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.selectbox > select {
  width: 50px;
  height: 50px;
  margin: 10px auto 10px auto;
  display: block;
  padding: 8px 0 8px 17px;
  letter-spacing: 2em;
  color: #ffffff;
  background: #FFA500;
  overflow: hidden;
  -webkit-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  -o-transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  transition: all 0.2s cubic-bezier(1, 0, 0, 1);
  border-style: none; }
  .selectbox > select:hover {
    width: 250px; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.menu_box {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: 0.9;
  position: relative;
  line-height: 50px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  height: 50px;
  background-color: #FFA500;
  width: 96%; }
  .menu_box__food {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.9;
    position: relative;
    line-height: 50px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    background-color: #111111;
    font-weight: bold;
    width: 96%; }
  .menu_box__drink {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.9;
    position: relative;
    line-height: 50px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    background-color: #111111;
    font-weight: bold;
    width: 96%; }
  .menu_box__class_3 {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.9;
    position: relative;
    line-height: 50px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    background-color: #FFA500;
    width: 48%; }
  .menu_box__class_3--delete {
    width: 50%; }

.menu_box__array {
  width: 100%; }

.menu_box:hover {
  background: #111111; }

.menu_box__class_3:hover {
  background: #111111; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.delete {
  display: none;
  margin: none; }

.deletable {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: 0.9;
  position: relative;
  line-height: 50px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  height: 50px;
  background-color: #DC3B00; }

.deletemark--class_2 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 96%; }

.deletemark--class_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%; }

input[type="checkbox"]:checked + label {
  background: #401100;
  /* マウス選択時の背景色を指定する */ }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.button {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  border: dashed 2px #FFF;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  font-size: 30px;
  position: fixed;
  bottom: 100px; }
  .button__delete {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    border: dashed 2px #FFF;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    font-size: 30px;
    position: fixed;
    bottom: 100px;
    right: 2vh;
    background: #FFA500;
    -webkit-box-shadow: 0px 0px 0px 5px #FFA500;
    box-shadow: 0px 0px 0px 5px #FFA500; }
    .button__delete--active {
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      border: dashed 2px #FFF;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-size: 30px;
      position: fixed;
      bottom: 100px;
      right: 2vh;
      background: #DC3B00;
      -webkit-box-shadow: 0px 0px 0px 5px #DC3B00;
      box-shadow: 0px 0px 0px 5px #DC3B00; }
    .button__delete:hover {
      background: #111111;
      -webkit-box-shadow: 0px 0px 0px 5px #111111;
      box-shadow: 0px 0px 0px 5px #111111; }
  .button__add {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    border: dashed 2px #FFF;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    font-size: 30px;
    position: fixed;
    bottom: 100px;
    right: calc(2vh + 75px);
    background: #FFA500;
    -webkit-box-shadow: 0px 0px 0px 5px #FFA500;
    box-shadow: 0px 0px 0px 5px #FFA500; }
    .button__add:hover {
      background: #111111;
      -webkit-box-shadow: 0px 0px 0px 5px #111111;
      box-shadow: 0px 0px 0px 5px #111111; }
  .button__sortable {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    border: dashed 2px #FFF;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    font-size: 30px;
    position: fixed;
    bottom: 100px;
    right: calc(2vh + 150px);
    background: #FFA500;
    -webkit-box-shadow: 0px 0px 0px 5px #FFA500;
    box-shadow: 0px 0px 0px 5px #FFA500; }
    .button__sortable--active {
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border-radius: 50%;
      text-align: center;
      overflow: hidden;
      border: dashed 2px #FFF;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      font-size: 30px;
      position: fixed;
      bottom: 100px;
      right: calc(2vh + 150px);
      background: #DC3B00;
      -webkit-box-shadow: 0px 0px 0px 5px #DC3B00;
      box-shadow: 0px 0px 0px 5px #DC3B00; }
    .button__sortable:hover {
      background: #111111;
      -webkit-box-shadow: 0px 0px 0px 5px #111111;
      box-shadow: 0px 0px 0px 5px #111111; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.wrapper__header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FFA500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  position: absolute;
  width: 100vw;
  z-index: 1000; }

.wrapper__side {
  padding-left: 0;
  display: block;
  position: absolute;
  width: 25vw;
  height: calc(100vh - 50px);
  max-width: 450px;
  background: #FFA500;
  -webkit-box-shadow: rgba(100, 100, 100, 0.5) 10px 0px 10px;
  box-shadow: rgba(100, 100, 100, 0.5) 10px 0px 10px;
  z-index: 999;
  overflow-y: scroll;
  overflow-x: hidden;
  left: -25vw;
  top: 50px; }

.wrapper__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 50px; }
  .wrapper__main--multi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.wrapper__100p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: scroll; }
  .wrapper__100p--v_h_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: scroll;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*コンテンツの上下中央揃え*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*左右中央揃え*/ }

.wrapper__50p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  overflow: scroll; }
  .wrapper__50p--v_h_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    overflow: scroll;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*コンテンツの上下中央揃え*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*左右中央揃え*/ }

.wrapper--content__100p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: scroll;
  margin-top: 1%;
  margin-bottom: 1%; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.header__menu {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 2vw; }

.header__title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.text__icon {
  font-size: 30px;
  color: #ffffff;
  line-height: 150%;
  text-align: center;
  padding: auto; }

.text__title {
  font-size: 28px;
  color: #ffffff;
  line-height: 150%;
  text-align: center;
  padding: auto; }

.text__subtitle {
  font-size: 24px;
  color: #ffffff;
  line-height: 150%;
  text-align: center;
  padding: auto; }

.text__body {
  font-size: 16px;
  color: #ffffff;
  line-height: 150%;
  text-align: center;
  padding: auto; }

.text__copyright {
  font-size: 12px;
  color: #ffffff;
  line-height: 150%;
  text-align: center;
  padding: auto; }

.text__text-decoration {
  font-size: 6px;
  color: #ffffff;
  line-height: 150%;
  text-align: center;
  padding: auto; }

/*「_」抜きの名前でインポートする
 変数を定義しているsetting.scssのインポートは必須事項*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.picture--base {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../img/top.jpg");
  background-size: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1000; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.global_navi__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 25vw;
  -webkit-box-shadow: 1px 0px 3px rgba(25, 25, 25, 0.15);
  box-shadow: 1px 0px 3px rgba(25, 25, 25, 0.15); }

.global_navi__content--1 {
  font-size: 16px;
  color: #ffffff;
  padding-left: 2vw;
  height: calc(16pt + 20px);
  padding-top: 10px; }

.global_navi__1_opener {
  position: relative;
  width: 18px;
  height: 18px;
  right: 2vw;
  margin-top: 10px; }

.global_navi__2 {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*コンテンツの上下中央揃え*/
  width: 25vw; }

.global_navi__content--2 {
  display: block;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  padding-left: 2vw;
  height: calc(16pt + 20px);
  padding-top: 10px;
  width: 25vw;
  -webkit-box-shadow: 1px 0px 3px rgba(25, 25, 25, 0.3);
  box-shadow: 1px 0px 3px rgba(25, 25, 25, 0.3); }
  .global_navi__content--2:hover {
    background-color: #BF7900;
    -webkit-box-shadow: 3px 0px 3px rgba(25, 25, 25, 0.8);
    box-shadow: 3px 0px 3px rgba(25, 25, 25, 0.8);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.global-navi__logout {
  display: block;
  font-size: 16px;
  color: #ffffff;
  padding-left: 2vw;
  height: calc(16pt + 20px);
  padding-top: 10px;
  width: 25vw;
  -webkit-box-shadow: 1px 0px 3px rgba(25, 25, 25, 0.3);
  box-shadow: 1px 0px 3px rgba(25, 25, 25, 0.3); }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.three_line_menu span {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
  transition: .4s ease-in-out; }

.three_line_menu span:nth-child(1) {
  top: 0; }

.three_line_menu span:nth-child(2) {
  top: 9px; }

.three_line_menu span:nth-child(3) {
  top: 18px; }

.js-three_line_menu--doing span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(135deg);
  -ms-transform: translateY(9px) rotate(135deg);
  transform: translateY(9px) rotate(135deg); }

.js-three_line_menu--doing span:nth-child(2) {
  opacity: 0;
  -webkit-transform: translateX(calc(-2vw - 12.5px));
  -ms-transform: translateX(calc(-2vw - 12.5px));
  transform: translateX(calc(-2vw - 12.5px)); }

.js-three_line_menu--doing span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-135deg);
  -ms-transform: translateY(-9px) rotate(-135deg);
  transform: translateY(-9px) rotate(-135deg); }

.icon_pulus span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  top: 50%; }

.icon_pulus span:nth-child(1) {
  -webkit-transform: translateY(-1px) rotate(90deg);
  -ms-transform: translateY(-1px) rotate(90deg);
  transform: translateY(-1px) rotate(90deg); }

.icon_pulus span:nth-child(2) {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px); }

.js-icon_pulus--doing span:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.js-icon_pulus--doing span:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.vibration {
  -webkit-animation: vibration .3s  infinite;
  animation: vibration .3s  infinite; }

@-webkit-keyframes vibration {
  0% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
    transform: translate(0px, 0px) rotateZ(0deg); }
  25% {
    -webkit-transform: translate(1px, 0px) rotateZ(0.25deg);
    transform: translate(1px, 0px) rotateZ(0.25deg); }
  50% {
    -webkit-transform: translate(1px, 1px) rotateZ(0deg);
    transform: translate(1px, 1px) rotateZ(0deg); }
  75% {
    -webkit-transform: translate(1px, 0px) rotateZ(-0.25deg);
    transform: translate(1px, 0px) rotateZ(-0.25deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
    transform: translate(0px, 0px) rotateZ(0deg); } }

@keyframes vibration {
  0% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
    transform: translate(0px, 0px) rotateZ(0deg); }
  25% {
    -webkit-transform: translate(1px, 0px) rotateZ(0.25deg);
    transform: translate(1px, 0px) rotateZ(0.25deg); }
  50% {
    -webkit-transform: translate(1px, 1px) rotateZ(0deg);
    transform: translate(1px, 1px) rotateZ(0deg); }
  75% {
    -webkit-transform: translate(1px, 0px) rotateZ(-0.25deg);
    transform: translate(1px, 0px) rotateZ(-0.25deg); }
  100% {
    -webkit-transform: translate(0px, 0px) rotateZ(0deg);
    transform: translate(0px, 0px) rotateZ(0deg); } }

/*「_」抜きの名前でインポートする
 変数を定義しているsetting.scssのインポートは必須事項*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.radio_button--login {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*左右中央揃え*/ }
  .radio_button--login__radio {
    display: none; }

input[type="radio"] + label {
  line-height: 30px;
  color: #ffffff;
  background: #072A24;
  /* マウス選択時の背景色を指定する */
  width: 125px;
  text-align: center;
  border-radius: 5px 5px 0 0;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s; }

input[type="radio"]:checked + label {
  color: #ffffff;
  background: #FFA500;
  /* マウス選択時の背景色を指定する */ }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.form--registration {
  display: none; }

.form__button {
  display: block;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 250px;
  height: 50px;
  margin: 10px auto 10px auto;
  border-radius: 5px;
  border-style: none; }
  .form__button > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    pointer-events: none;
    border-radius: 5px; }
    .form__button > span:nth-child(1) {
      background-color: #072A24;
      color: #ffffff; }
    .form__button > span:nth-child(2) {
      background-color: #FFA500;
      color: #ffffff;
      -webkit-transform-origin: 50% 50% -30px;
      -ms-transform-origin: 50% 50% -30px;
      transform-origin: 50% 50% -30px; }
  .form__button:hover span:nth-child(2) {
    background-color: #072A24;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg); }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.error {
  display: block;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  line-height: 30px; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.class_3__name {
  display: inline-block;
  width: 70%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-left: 0;
  margin-right: 0; }

.class_3__price {
  display: inline-block;
  width: 30%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-left: 0;
  margin-right: 0; }

input[type="checkbox"]:checked + label {
  background: #401100;
  /* マウス選択時の背景色を指定する */ }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.sortable_class_2--food {
  width: 100%; }

.sortable_class_2_--drink {
  width: 100%; }

input[type="checkbox"]:checked + label {
  background: #401100;
  /* マウス選択時の背景色を指定する */ }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.overlay {
  background: rgba(7, 42, 36, 0.3);
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  animation: fadeIn 2s ease 0s 1 normal; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.background_color {
  background-color: #FFA500;
  position: fixed;
  height: 100vh;
  width: 100vw; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
/* === ボタンを表示するエリア ============================== */
.checkbox--activate__aera {
  width: 25%;
  /*ボタンの横幅*/ }

/* === チェックボックス ==================================== */
.checkbox--activate__checkbox {
  display: none;
  /* チェックボックス非表示 */ }

/* === チェックボックスのラベル（標準） ==================== */
.checkbox--activate__label {
  display: block;
  /* ボックス要素に変更 */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 枠線を含んだサイズ */
  border: 2.5px solid #072A24;
  /* 枠線*/
  border-radius: 3px;
  /* 角丸*/
  line-height: 1;
  /* 1行の高さ*/
  height: 50px;
  /* ボタンの高さ*/ }

/* === 移動BOX（標準） ===================================== */
.checkbox--activate__decoration {
  display: inline-block;
  height: 45px;
  /* ボタンの高さ       */
  width: 50%;
  /* ボタンの高さ       */
  background: #DC3B00;
  /* 背景色             */
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  /* ゆっくり変化       */ }

/* === ON側のチェックボックスの移動BOX（ONのとき） ========= */
.checkbox--activate__checkbox:checked + label > .checkbox--activate__decoration {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  /* BOXを右に移動      */
  background: #78bd78;
  /* 背景色             */ }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.w--100p {
  width: 100%; }

.w--50p {
  width: 50%; }

.w--25p {
  width: 25%; }

/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.text_box--small {
  width: 250px;
  height: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 30px;
  display: block;
  position: relative;
  margin: 10px auto 10px auto;
  border: solid 2px #FFA500;
  padding: 8px 0 8px 17px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #072A24));
  background-image: -webkit-linear-gradient(left, #fff 50%, #072A24 50%);
  background-image: -o-linear-gradient(left, #fff 50%, #072A24 50%);
  background-image: linear-gradient(to right, #fff 50%, #072A24 50%);
  background-position: 0 0;
  background-size: 200% auto;
  -webkit-transition: all .2s ease 0s;
  -o-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  text-decoration: none; }
  .text_box--small:hover {
    background-position: -100% 0;
    color: #fff; }
