@import "../setting/setting.scss";

.class_3{
	&__name{
		display: inline-block;
		width: 80%;
		text-align:center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: $text-body;
		line-height: 50px;
		border-bottom: dashed 3px $text-color-main;
	}
	&__price{
		display: inline-block;
		width: 20%;
		text-align:center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left:0;
		margin-right:0;
		font-size: $text-body;
		line-height: 50px;
		border-bottom: dashed 3px $text-color-main;
	}
	&__quantity{
		width: 50px;
		height: 50px;
		font-size: $text-body;
		line-height:50px;
		text-align:center;
		margin-left:calc(40% - 90px);
	}
	&__increase{
		width: 30px;
		height: 30px;
		margin: 10px;
		font-size: $text-title;
		text-align:center;
		border-radius: 5px;
		opacity: .75;
		filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
		background-color: $color-sub;
	}
	&__decrease{
		width: 30px;
		height: 30px;
		font-size: $text-title;
		margin: 10px;
		text-align:center;
		margin-right:calc(40% - 90px);
		border-radius: 5px;
		opacity: .75;
		filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
		background-color: $color-sub;
	}
	&__add_to_cart{
		text-align: center;
		width: 30px;
		height: 30px;
		margin: auto;
		background: url('../img/add_to_cart.svg');
    	background-size: cover;
    	background-repeat: no-repeat;
    	border-radius: 5px;
    	opacity: .75;
    	filter:drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
    	background-color: $color-sub;
    	border: solid 5px $color-sub;
	}
}