@charset "UTF-8";
/*「_」抜きの名前でインポートする
 変数を定義しているsetting.scssのインポートは必須事項*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.delete {
  display: none; }

.deletable {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: 0.9;
  position: relative;
  width: 48vw;
  line-height: 50px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  height: 50px;
  background-color: #DC3B00; }

input[type="checkbox"]:checked + label {
  background: #401100;
  /* マウス選択時の背景色を指定する */ }
