@import "../setting/setting.scss";

.form-button{
	display: block;
	position: relative;
  	appearance: none;
  	cursor: pointer;
  	width: 250px;
  	height: 50px;
  	margin:10px auto 10px auto;
  	border-radius: 5px;
  	border-style:none;
  	>span {
  		position: absolute;
  		top: 0;
  		left: 0;
		  width: 100%;
  		height: 100%;
  		text-align: center;
  		line-height: 50px;
  		transition: all .2s;
  		pointer-events: none;
  		border-radius: 5px;
  		&:nth-child(1) {
  			background-color: $color-sub;
  			color: $text-color-main;
		}
		&:nth-child(2) {
  			background-color: $color-main;
  			color: $text-color-main;
  			transform-origin: 50% 50% -30px;
		}
	}
	&:hover span:nth-child(2) {
  		background-color: $color-sub;
  		transform: rotateX(-90deg);
	}
}