@charset "UTF-8";
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.menu-box {
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
  margin-left: 1vw;
  margin-right: 1vw;
  opacity: 0.9;
  position: relative;
  width: 96%;
  line-height: 50px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  height: 50px;
  background-color: #FFA500; }
  .menu-box__food {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.9;
    position: relative;
    width: 96%;
    line-height: 50px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    background-color: #111111;
    font-weight: bold; }
  .menu-box__drink {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.9;
    position: relative;
    width: 96%;
    line-height: 50px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    background-color: #111111;
    font-weight: bold; }
  .menu-box__name_of_dish {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    margin-left: 1vw;
    margin-right: 1vw;
    opacity: 0.9;
    position: relative;
    width: 96%;
    line-height: 50px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    height: 50px;
    background-color: #FFA500; }

.menu-box:hover {
  background: #111111; }

.menu-box__name_of_dish:hover {
  background: #111111; }
