@import "../setting/setting.scss";

@mixin menu-box{
	color: $text-color-main;
	background-color: $color-main;
	height: 250px;
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 20px;
	opacity: 0.8;
	position: relative;
	width: 23%;
}

@mixin box{
	justify-content: center; /*左右中央揃え*/
    align-items: center;     /*上下中央揃え*/
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba($color-sub,0.3);
	top: 0;
	left: 0;
	padding: auto;
}