@import "../setting/setting.scss";

@mixin menu-box{
	color: $text-color-main;
	background-color: $color-main;
	height: 100px;
	margin-left: 1vw;
	margin-right: 1vw;
	opacity: 0.8;
	position: relative;
	width: 48vw;
}

@mixin column{
	align-items: center;     /*上下中央揃え*/
	display: flex;
	justify-content: center; /*左右中央揃え*/
	position: relative;
	padding: 0;
}

