@import "../setting/setting.scss";

@mixin menu-box{
	display:inline-block;
  	vertical-align: middle;
	color: $text-color-main;
	margin-left: 1vw;
	margin-right: 1vw;
	opacity: 0.9;
	position: relative;
	width: 48vw;
	line-height:50px;
}

@mixin column{
	align-items: center;     /*上下中央揃え*/
	display: flex;
	justify-content: center; /*左右中央揃え*/
	position: relative;
	padding: 0;
}

@mixin button{
 	display: inline-block;
 	text-decoration: none;
 	color: $text-color-main;
 	width: 50px;
 	height: 50px;
  	line-height: 50px;
 	border-radius: 50%;
 	text-align: center;
 	overflow: hidden;
 	border: dashed 2px #FFF;
 	transition: .4s;
 	font-size: 30px;

 	position: fixed;
 	bottom: 100px;
 }