@import "../setting/setting.scss";
@import "../mixin/mixin.scss";


.button{
 	@include button;
 	&__order_history{
 		@include button;
 		background-color: $color-accent;
 		background-image: url("../img/order_history.svg");
 		&:hover {
			background-color: $color-active;
		}
	}
 	&__delete{
		@include button;
		background-color: $color-main;
		&--active{
 			@include button;
	 		background-color: $color-alart;
 		}
		&:hover {
			background: $color-active;
		}
 	}

 	&__add{
 		@include button;
 		background-color: $color-main;
 		&:hover {
			background-color: $color-active;
		}
	}

 	&__sortable{
 		@include button;
 		background-color: $color-main;
 		&--active{
 			@include button;
 			background-color: $color-alart;
 		}
 		&:hover {
			background-color: $color-active;
		}
 	}
 	&__books{
 		@include button;
 		background-image: url('../img/list.svg');
 		background-size: 60%;
 		background-repeat: no-repeat;
 		background-position: center;
 		background-color: $color-main;
 		&:hover {
			background-color: $color-active;
		}
 	}
 	&__bar_chart{
 		@include button;
 		margin-right: 25px;
 		background-image: url('../img/line_chart.svg');
 		background-size: 60%;
 		background-repeat: no-repeat;
 		background-position: center;
 		background-color: $color-main;
 		&:hover {
			background-color: $color-active;
		}
 	}
}