{% extends "base.html" %}
{% block global_navi %}
<div class="wrapper--activate">

	<div class="radio_button--activate_order">
    <input type="radio" id="activate" class="js-show__container radio_button--activate_order__radio" name="activate_order" value="activate" checked="true" data-container="table_activate">
      <label for="activate">Activate</label>
    <input type="radio" id="order" class="js-show__container radio_button--activate_order__radio" name="activate_order" value="order" data-container="order_list">
      <label for="order">Order</label>
  </div>

  <div class="table_activate__wrap" data-target="table_activate">
    <!-- 「Activate」エリアの表示 -->
	  {% for tables in tables %}
      {% if tables[1] == 2 %}
  	    <div class="table_activate bound">
      {% else %}
        <div class="table_activate">
      {% endif %}
	    <div class="table_activate__table_number">Table {{tables[0]}}</div>
	    <div class="table_activate__checkbox_aera">

			<!-- チェックボックスの制御 -->
			{% if tables[1] == 0 %}
  			<input type="checkbox" id="table_{{tables[0]}}" class="table_activate__checkbox">
  		{% else %}
  			<input type="checkbox" id="table_{{tables[0]}}" class="table_activate__checkbox" checked="true">
  		{% endif %}
    		<label for="table_{{tables[0]}}" class="table_activate__checkbox_label js-show__qrcode">
      			<div class="table_activate__checkbox_decoration"></div>
   			</label>
   		</div>

      <!-- チェックボックスの下の「QR確認」部分の制御 -->
      {% if tables[1] == 0 %}
   		<div class="text__body js-show__lightbox js-show__qrcode" data-show="qrcode" style="visibility:hidden;" data-qrcode="qrcode_{{tables[0]}}">
   			QR確認 >
   		</div>
      {% elif tables[1] == 1 %}
      <div class="text__body js-show__lightbox js-show__qrcode" data-show="qrcode" data-qrcode="qrcode_{{tables[0]}}">
        QR確認 >
      </div>
      {% else %}
      <div class="text__body js-show__lightbox js-show__qrcode" data-show="qrcode" data-qrcode="qrcode_{{tables[0]}}">
        会計確認 >
      </div>
      {% endif %}
   		</div>
	  {% endfor %}
  </div>

  <!-- 「Order」エリアの表示 -->
  <div class="order_list__wrap" data-target="order_list" style= display:none;>
  </div>

  <!-- Lightboxの表示 -->
  <div class="lightbox">
    <div class="wrapper--qrcode" data-target="qrcode">
      {% for tables in tables %}
        {% if tables[1] == 1 %}
          <div id="container_qrcode_{{tables[0]}}" data-target="qrcode_{{tables[0]}}" data-one_time_password="{{tables[2]}}">
            <div class="text__title">Table {{tables[0]}}</div>
          </div>
        {% elif tables[1] == 2 %}
          <div id="container_qrcode_{{tables[0]}}" data-target="qrcode_{{tables[0]}}" data-one_time_password="{{tables[2]}}">
            <div class="text__title">Table {{tables[0]}}</div>
            <div class="text__title total_fee">会計 ¥ {{tables[3]}}</div>
            <button class="form__button check__submit_for_kitchin_push" data-table_number="{{tables[0]}}">
              <span>確認</span>
              <span>会計</span>
            </button>'
          </div>
        {% else %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="lightbox__back" data-target="lightbox_always_show">></div>
  </div>
{% endblock %}