{% extends "base.html" %}
{% block global_navi %}
    <div class="wrapper--login">
      <div class="radio_button--login">
        <input type="radio" id="login" class="js-show__container radio_button--login__radio" name="login_or_registration" value="login" checked="true" data-container="login_form">
          <label for="login">ログイン</label>

        <input type="radio" id="registration" class="js-show__container radio_button--login__radio" name="login_or_registration" value="registration" data-container="registration_form">
          <label for="registration">登録</label>
      </div>

      <form class="js-form--login form--login" action="/login" method="post" data-target="login_form">
        <input class="text_box--small" type="email" name="e_mail" placeholder="ログインメールアドレス" required>
        <input class="text_box--small" type="password" name="password" placeholder="password" required>
        <div class="error">{{session.error}}</div>
        <button class="form__button" type="submit">
          <span>Login</span>
          <span>Login</span>
        </button>
      </form>

      <form class="js-form--registration form--registration form_registration" action="/create_account" method="post" data-target="registration_form">
        <input class="text_box--small" type="email" name="e_mail" placeholder="登録用メールアドレス" required>
        <input class="text_box--small" type="password" name="password" placeholder="password" required>
        <div class="error">{{session.error}}</div>
        <button class="form__button" type="submit">
          <span>確定</span>
          <span>登録</span>
        </button>
      </form>
      <div class="picture--base"></div>
    </div>
{% endblock %}