@import "../setting/setting.scss";
@import "../mixin/mixin.scss";

.button{
 	@include button;
 	&__delete{
	@include button;
 	right: 2vh;
 	}
 	&__add{
 	@include button;
 	right: calc(2vh + 75px);
	}
 	&__sortable{
 	@include button;
 	right: calc(2vh + 150px);
 	}
}

.button__delete:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
}
.button__add:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
}

.button__sortable:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
}