@import "../setting/setting.scss";
@import "../mixin/mixin.scss";

.button{
 	@include button;
 	&__delete{
		@include button;
		right: 2vh;
		background: $color-main;
		box-shadow: 0px 0px 0px 5px $color-main;
 	}
 	&__delete--active{
 		@include button;
 		right: 2vh;
 		background: $color-active2;
 		box-shadow: 0px 0px 0px 5px $color-active2;
 	}
 	&__add{
 		@include button;
 		right: calc(2vh + 75px);
 		background: $color-main;
 		box-shadow: 0px 0px 0px 5px $color-main;
	}
 	&__sortable{
 		@include button;
 		right: calc(2vh + 150px);
 		background: $color-main;
 		box-shadow: 0px 0px 0px 5px $color-main;
 	}
 	&__sortable--active{
 		@include button;
 		right: calc(2vh + 150px);
 		background: $color-active2;
 		box-shadow: 0px 0px 0px 5px $color-active2;
 	}
}

.button__delete:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
}
.button__add:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
}

.button__sortable:hover {
	background: $color-active;
	box-shadow: 0px 0px 0px 5px $color-active;
}