 /*「_」抜きの名前でインポートする
 変数を定義しているsetting.scssのインポートは必須事項*/
@import "../setting/setting.scss";

.footer{
	position: fixed;
	background-color: $color-main;
	height: 50px;
	padding: 6px;
	width: $width-base;
	bottom: 0;
}

