@import "../setting/setting.scss";

.global_navi__1 {
    display: flex;
    justify-content: space-between; //コンテンツを両端揃え
    width: 25vw;
    box-shadow:(1px 0px 3px rgba(25,25,25,0.15));
}

.global_navi__content--1 {
    font-size: $text-body;
    color: $text-color-main;
    padding-left:2vw;
    height: calc(16pt + 20px);
    padding-top: 10px;
}

.global_navi__1_opener{
    position: relative;
    width: 18px;
    height: 18px;
    right: 2vw;
    margin-top: 10px;
}

.global_navi__2 {
    display: none;
    align-items: center; /*コンテンツの上下中央揃え*/
    width: 25vw;
}

.global_navi__content--2{
    display: block;
    position: relative;
    font-size: $text-body;
    color: $text-color-main;
    padding-left: 2vw;
    height: calc(16pt + 20px);
    padding-top: 10px;
    width: 25vw;
    box-shadow:(1px 0px 3px rgba(25,25,25,0.3));
    &:hover{
        background-color: $color-doing;
        box-shadow:(3px 0px 3px rgba(25,25,25,0.8));
        transition: .3s ;
    }
}

.global-navi__logout{
    display: block;
    font-size: $text-body;
    color: $text-color-main;
    padding-left:2vw;
    height: calc(16pt + 20px);
    padding-top: 10px;
    width: 25vw;
    box-shadow:(1px 0px 3px rgba(25,25,25,0.3));
}

