@import "../setting/setting.scss";
.header__menu{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 2vw;
}

.header__title{
	position: absolute;
	left: 50%;
  	transform: translateX(-50%);
}
