@import "../setting/setting.scss";
@import "../mixin/mixin.scss";
.menu-box{
	@include menu-box;
	font-size:$text-body;
	margin-top:5px;
	margin-bottom: 5px;
	text-align: center;
	height: 50px;
	background-color: $color-main;
	&__food{
		@include menu-box;
		font-size:$text-body;
		margin-top:10px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
		background-color: $color-active;
		font-weight: bold;
	}
	&__drink{
		@include menu-box;
		font-size:$text-body;
		margin-top:10px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
		background-color: $color-active;
		font-weight: bold;
	}
	&__name_of_dish{
		@include menu-box;
		font-size:$text-body;
		margin-top:5px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
		background-color: $color-main;
	}
}

.menu-box:hover {
	  background: $color-active;
}

.menu-box__name_of_dish:hover {
	  background: $color-active;
}

.label {
		@include menu-box;
		font-size:$text-body;
		margin-top:5px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
		background-color: #000080;
	}