@import "../setting/setting.scss";
@import "../mixin/mixin.scss";
.menu-box{
	@include menu-box;
	font-size:$text-body;
	margin-top:5px;
	margin-bottom: 5px;
	text-align: center;
	height: 50px;
	&__food{
		@include menu-box;
		font-size:$text-body;
		margin-top:5px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
	}
	&__drink{
		@include menu-box;
		font-size:$text-body;
		margin-top:5px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
	}
	&__name_of_dish{
		@include menu-box;
		font-size:$text-body;
		margin-top:5px;
		margin-bottom: 5px;
		text-align: center;
		height: 50px;
	}
}

.menu-box:hover {
	  background: $color-active;
}

.menu-box__name_of_dish:hover {
	  background: $color-active;
}