@import "../setting/setting.scss";

.select-box > select{
    width:50px;
    height: 50px;
    margin:10px auto 10px auto;
    display: block;
    padding: 8px 0 8px 17px;
    letter-spacing: 2em;
    color: $text-color-main;
    background: $color-main;
    overflow: hidden;
    transition: all .2s cubic-bezier(1, 0, 0, 1);
    border-style:none;
    &:hover{
        width: 250px;
    }
}