@charset "UTF-8";
/*====================
サイトの基本設定
====================*/
/*フォント関係*/
/*テキストの大きさ*/
/*色関係*/
/*ブレイクポイント*/
.sortable_class_2--food {
  width: 100%; }

.sortable_class_2_--drink {
  width: 100%; }

input[type="checkbox"]:checked + label {
  background: #401100;
  /* マウス選択時の背景色を指定する */ }
