@import "../setting/setting.scss";

.sortable_class_2{
	&--food{
		width: 100%;
	}

	&_--drink{
		width: 100%;
	}
}

input[type="checkbox"]:checked + label {
background: #401100;/* マウス選択時の背景色を指定する */
}