 /*「_」抜きの名前でインポートする
 変数を定義しているsetting.scssのインポートは必須事項*/
@import "../setting/setting.scss";

.welcome-title {
    display: block;
    text-align: center;
    position: relative;
    margin: 0 auto 40px auto;
    font-size: $text-title;
    color:  $text-color-main;
}

.welcome-text{
    display: block;
    font-size: $text-body;
    width: 300px;
    margin-top: 40px;
    line-height: 30px;
    text-align: left;
    color: $text-color-main;
}