@import "../setting/setting.scss";

.wrapper{
	// 中身を中央揃えしたくないので、@include column;は行わない
	&__header{
		align-items: center;
		background-color: $color-main;
		display: flex;
		height: 50px;
		position: absolute;
		width:100vw;
		z-index:1000;
	}
	&__side{
		padding-left: 0;
	    display: block;
	    position: absolute;
	    width: 25vw;
	    height: calc(100vh - 50px);
	    max-width: 450px;
	    background: $color-main;
	    box-shadow: rgba(100,100,100,0.5) 10px 0px 10px;
	    z-index: 999;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    left: -25vw;
	    top: 50px;
	}
	&__main{
		display: flex;
		position: relative;
		width: 100vw;
		height: calc(100vh - 50px);
		flex-wrap: wrap;
    	justify-content: center;
    	align-items: center;
    	top: 50px;
	}
	&__100percent{
		@include wrapper;
		width: 100%;
		flex-flow: column nowrap;	//カラム内のコンテンツを1列で表示
	}
	&__50percent{
		@include wrapper;
		width: 50%;
		flex-flow: column nowrap;	//カラム内のコンテンツを1列で表示
	}
}

.multi_wrap{
	&--flex_start{
		display: flex;
    	flex-wrap: wrap;
    	justify-content: flex-start;
    	align-items: flex-start;
    	width: 100%;
	}
	&--flex_start_v100persent{
		display: flex;
    	flex-wrap: wrap;
    	justify-content: flex-start;
    	align-items: flex-start;
    	width: 100%;
    	height: 100%;
	}
	&--center{
		display: flex;
    	flex-flow: wrap;
    	justify-content: center;
    	align-items: flex-start;
    	width: 100%;
	}
	&--center_vhcenter{
		display: flex;
    	flex-flow: column nowrap;
    	justify-content: center;
    	align-items: center;
    	width: 100vw;
    	height: calc(100vh - 50px);
    	top: 50px;
    	position: absolute;
	}
}